<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsjyy.nemesis.system.dao.InterfaceInfoMapper">

    <select id="selectTokenPath" resultType="com.lsjyy.nemesis.common.role.InterfacePath">
        SELECT i.interface_id, i.path, s.service_name, i.method, s.port FROM interface_info i LEFT JOIN service_info s on i.service_id = s.service_id WHERE i.token_falg =1
    </select>
</mapper>